spring:
  application:
    name: PayLite Backend

  flyway:
    enabled: true
    locations: classpath:db/migration

  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: false
    properties:
      hibernate:
        format_sql: false
        jdbc:
          time_zone: UTC

  profiles:
    active: dev

server:
  port: 8080

logging:
  level:
    root: INFO
    org.springframework.web: INFO